<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        	
        {% endblock %}
    </head>
    
    <body class="w3-theme-l5">
    	<!-- Navbar -->
		<div class="w3-top">
 			<ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">
 			{% block menu %} {% endblock %}
  			</ul>
		</div>
		
		
		<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
        <!-- The Grid -->
			<div class="w3-row">
			
   				<!-- Left Column -->
				{% block conteneur_gauche %}
   				<div class="w3-col m2 conteneur_colonne_gauche" style="position:fixed; width:180px">
     			
    	 			<!-- Recherches -->
					{% block conteneur_recherches %}
      				<div class="w3-card-2 w3-round w3-white colonne_gauche">
      					{% block recherches %} {% endblock %}
      				</div>
					{% endblock %}
      				
      
     				<!-- Lanceurs -->
					{% block conteneur_lanceurs %}
     				<div class="w3-card-2 w3-round w3-white colonne_gauche lanceurs">
      					{% block lanceurs %} {% endblock %}
      				</div>
					{% endblock %}
      				
					
					<!-- raccourcis -->
					{% block conteneur_raccourcis %}
     				<div class="w3-card-2 w3-round w3-white colonne_gauche liste_raccourcis">
      					{% block raccourcis %} {% endblock %}
      				</div> 
					{% endblock %}
          
      				<!-- Alert Box -->
      				{#<div class="w3-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
      					{% block alertbox %} {% endblock %}
      				</div>#}
    	
    			</div>
				{% endblock %}
    			<!-- End Left Column -->
				
    	
    			<!-- contenu de la page -->
				{% block conteneur_droite %}
    			<div class="w3-col" style="width: 86%; margin-left: 180px; padding-left: 10px">
        			{% block contenu %} {% endblock %}
    		    </div>
				{% endblock %}
				
				<!-- contenu de la page pour l'edition (full largeur, pas de colonne de gauche) -->
				{% block conteneur_droite_full %}
    			<div class="w3-col" style="width: 100%; padding-left: 10px">
        			{% block contenu_full_page %} {% endblock %}
    		    </div>
				{% endblock %}
 		   </div>
    	</div>
    	
        
		<!-- Footer -->
		<footer class="w3-container w3-theme-d3" style="position: fixed; width:100%; bottom:0%">
			<h5>Site test Blocnotes (Quentin DAVID)</h5>
		</footer>
 
 		<!-- Javascripts -->
		<script>
			{% block javascripts %} {% endblock %}
		</script>
		     
    </body>
</html>
