{% extends 'QTBlocnotesBundle::base.html.twig' %}

{% block recherches %}
	{{ form(formulaire_recherche, {'attr': {'class': 'formulaire'}}) }}
{% endblock %}

{% block contenu %}
	<h2>Page d'accueil</h2>
    {% for topic in liste_topics %}
      	{{ render(controller('QTBlocnotesBundle:Topic:afficherTopic', { 'num_topic':topic })) }}
    {% endfor %}
{% endblock %}
