{% extends 'QTBlocnotesBundle::base.html.twig' %}
{% block contenu %}
	
	<script src="//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"></script>
	
	<div class="w3-container w3-card-2 w3-white w3-round w3-margin-left">
        <img src="img_avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">1 min</span>
        <h4>Topic numéro : {{ num_topic }}</h4>
        <hr class="w3-clear">
          <div class="w3-row-padding w3-padding-bottom" style="margin:0 -16px">
            <textarea id="topic_editor" name="topic_editor">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </textarea>
        </div> 
      </div>
      <br>
      
	<script type="text/javascript">
		CKEDITOR.replace( 'topic_editor' );
	</script>
      
{% endblock %}
