{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block contenu %}      
    <div class="w3-col m9">
        <h3>Suppression d'un topic </h3>
        <div>
            Etes vous sur de vouloir supprimer 'l'objet <b>{{ num_topic }}</b>
        </div>
    </div>
    
    <form action="{{ path('topic_suppression', {'num_topic': num_topic}) }}" method="post">
        <a href="{{ path('lister_topic') }}" class="btn btn-default">
            Retour création topic
        </a>
        <input type="submit" value="Supprimer" class="btn btn-danger" />
    </form>
{% endblock %}