.etat_ouvert {
    border-style: solid;
    border-color: red;
}
.etat_resolu {
    border-style: solid;
    border-color: green;
}
.etat_invalide {
    border-style: solid;
    border-color: orange;
}
.legende {
    margin-bottom: 5px;
    text-align: center;
}