/*@media only screen and (min-device-width: 560px) and (max-device-width: 1136px) {*/
/*@media (max-device-width: 640px) {*/
@media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2){
    #conteneur_gauche {
        position: relative;
        float: left;
        width:100%;
        background-color: red;
    }
    
    #conteneur_droite {
        position: relative;
        float: left;
        width:100%;
        max-width: 100%;
        background-color: green;
        margin-left: 0%;
        padding-left: 0%;
    }
    
}