{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block conteneur_lanceurs %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block conteneur_recherches %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block contenu %}
    <h2 class="titre" >mon profil ({{utilisateur.username}})</h2>
		
	<h4>Modifier mon MDP</h4>	
	{{ form(formulaire_password, {'attr': {'class': 'formulaire'}}) }}
    
	<h4>Modifier mes parametres</h4>	
	{{ form(formulaire_profil, {'attr': {'class': 'formulaire'}}) }}

{% endblock %}